@page "/"

<PageTitle>メタバクエスト団</PageTitle>

<div>
    <h1 class="modal-title">メタバース調査結果の報告</h1>
</div>

<h2>メタバース工作日記(MetaCraftDailyReport)</h2>

<table class="table-info">
<tbody>
   <tr class="card-header">
      <td>ジャンル名(CategoryName)</td>
      <td>こうさく名(CraftName)</td>
   </tr>
   <tr>
       <td colspan="2"><button class="btn btn-primary" @onclick="ToggleArMr">AR/MR</button></td>
   </tr>
   @if (isToggleArMr)
   {
       <tr>
       </tr>
            
   }
   <tr>
       <td colspan="2"><button class="btn btn-primary" @onclick="TogglePlatform">プラっとフォーマー系</button></td>
   </tr>
   @if (isTogglePlatform)
   {
       <tr>
       </tr>
            
   }
   <tr>
       <td colspan="2"><button class="btn btn-primary" @onclick="ToggleVirtualReallity">VR+VRSNS</button></td>
   </tr>
   @if (isVirtualReallity)
   {
        @foreach (var contentReportRow in contentReportVrRows)
        {
           <tr>
                    <td><a href="@contentReportRow.url" target="_blank">@contentReportRow.message</a></td>
           </tr>
       }
            
   }
   <tr>
       <td colspan="2"><button class="btn btn-primary" @onclick="ToggleCrypto">クリプト</button></td>
   </tr>
   @if (isToggleCrypt)
   {
        @foreach (var contentReportRow in contentReportChainRows)
        {
           <tr>
                    <td><a href="@contentReportRow.url" target="_blank">@contentReportRow.message</a></td>
           </tr>
       }

            
   }
   <tr>
       <td colspan="2"><button class="btn btn-primary" @onclick="ToggleGame">Games</button></td>
   </tr>
   @if (isToggleGame)
   {
        @foreach (var gameRow in contentReportGameRows)
        {
            <tr><td><a href="@gameRow.url" target="_blank">@gameRow.message</a></td> </tr>
        }

    }

</tbody>
</table>


@code {
    public class ContentReportRow
    {
        public string message { get; set; }

        public string url { get; set; }
        public ContentReportRow(string message, string url)
        {
            this.message = message;
            this.url = url;
        }

    }


    private bool isToggleArMr { get; set; }
    private bool isTogglePlatform { get; set; }
    private bool isVirtualReallity { get; set; }
    private bool isToggleCrypt { get; set; }
    private bool isToggleGame { get; set; }

    private List<ContentReportRow> contentReportChainRows { get; set; }
    private List<ContentReportRow> contentReportVrRows { get; set; }
    private List<ContentReportRow> contentReportGameRows { get; set; }



    protected override async Task OnInitializedAsync()
    {
        this.isToggleArMr = false;
        this.isTogglePlatform = false;
        this.isVirtualReallity = false;
        this.isToggleCrypt = false;
        this.isToggleGame = false;
        this.contentReportChainRows = new List<ContentReportRow>();
        this.contentReportChainRows.Add(new ContentReportRow("ブロックチェーン調査団", "https://blazorapp1client20220118081749.azurewebsites.net/"));
        this.contentReportVrRows = new List<ContentReportRow>();
        this.contentReportVrRows.Add(new ContentReportRow("FutureMagicLand", "https://cluster.mu/w/a2e0af85-441c-4db1-ae2c-3c56c4c6cd33"));
        this.contentReportVrRows.Add(new ContentReportRow("ChristmasWeddingStg", "https://cluster.mu/w/1fb8df1a-277b-40ef-b5ef-c6b797e25c82"));
        this.contentReportVrRows.Add(new ContentReportRow("アニメ模写VR個展", "https://unityroom.com/games/sakuriver_sprint_report_2020_chomadobirthday"));
        this.contentReportGameRows = new List<ContentReportRow>();
        this.contentReportGameRows.Add(new ContentReportRow("カメQ", "https://unityroom.com/games/turtle_quiz"));
        this.contentReportGameRows.Add(new ContentReportRow("レンの救出大作戦", "https://unityroom.com/games/resucue_stg"));
        this.contentReportGameRows.Add(new ContentReportRow("シャングリラレースゲーム", "https://unityroom.com/games/shangurirarace_lgbt_chrismas"));
    }


    private void ToggleArMr()
    {
        this.isToggleArMr = !isToggleArMr;

    }

    private void TogglePlatform()
    {
        this.isTogglePlatform = !isTogglePlatform;

    }


    private void ToggleVirtualReallity()
    {
        this.isVirtualReallity = !isVirtualReallity;

    }


    private void ToggleCrypto()
    {
        this.isToggleCrypt = !isToggleCrypt;

    }

    private void ToggleGame()
    {
        this.isToggleGame = !isToggleGame;
    }




}